:root {
    --navbar-height: 60px;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    /* min-width: 300px; */
}

.page {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 550px;
}

.background-2020 {
    background: url("./assets/2019/image (5).jpg") no-repeat center;
    background-size: cover;
    background-origin: content-box;
}

.info {
    width: 300px;
    
    /* background-color: white; */
    padding: 20px;
    margin: 20px 20px 20px 20px;
}

@keyframes delay-show {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

.gfm-container {
    /* transition: all 1s steps(1); */
    /* opacity: 0; */
    /* opacity: 1; */
    /* display: none; */

    height: 200px;
    overflow-y: hidden;
    animation: delay-show 1.5s steps(1);
}

.navbar {
    height: var(--navbar-height);
    color: white;
    font-weight: 300;
    font-size: 1.5em;
    background-color: rgba(0, 0,0, 0.8);
    /* background-image: linear-gradient(rgba(0, 0,0, 0.5), rgba(0, 0,0, 0.0)); */
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    width: 100%;
    min-width: 300px;
}


.gfm-container {
    height: 250px;
}

.page {
    min-height: 600px;
}

.info {
    padding: 5px;
    margin: 5px;
}

.grid {
    display: grid;
    grid-template-columns: minmax(250px, 1fr);
    grid-auto-rows: minmax(700px, 1fr);
}

.grid > div:nth-child(2) {
    grid-row: 1/2;
}


.grid > .blank {
    opacity: 0;
    background: none;
}

.info-page {
    min-height: 2100px;
}


.donate {
    /* background: green; */
    padding: 10px;
    /* border-radius: 5px; */
    font-size: 0.7em;
    font-weight: 600;
}

.label {
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 2em;
    line-height: 1.5em;
}

.background-about {
    background-image: url("./assets/2017/34339969_2236917739658656_848496894136025088_o.jpg");
    background-position: center;
    background-size: cover;
    /* filter: grayscale(100%); */
}

.grid > div {
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 40px;
}

.grid > div > h1 {
    padding-bottom: 20px;
    text-align: center;
}

.info-page > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-page-text-container {
    width: 100%;
    max-width: 600px;
}

.carousel-item {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.carousel-item > img {
    visibility: hidden;
}


.carousel-inner {
    width: 100%;
    height: 100vh;
}

/* Track */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #333333;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #111111;
}

.sincerely {
    padding-top: 10px;
}

.attribution {
    color: white;
    background: black;
    text-align: center;
    font-size: 0.75em;
}

.attribution > a {
    color: white;
}

@media only screen and (min-width: 300px) {
    .navbar {
        padding: 10px;
    }
}

@media only screen and (min-width: 375px) {
    .navbar {
        padding: 10px 40px 10px 40px;
    }

    .grid {
        display: grid;
        grid-template-columns: minmax(250px, 1fr);
        grid-auto-rows: minmax(600px, 1fr);
    }

    .grid > div:nth-child(2) {
        grid-row: 1/2;
    }

    .info-page {
        min-height: 1800px;
    }

}

@media only screen and (min-width: 475px) {
    .grid {
        display: grid;
        grid-template-columns: minmax(250px, 1fr);
        grid-auto-rows: minmax(400px, 1fr);
    }

    .info-page {
        min-height: 1200px;
    }

}

@media only screen and (min-width: 800px) {
    .grid > div:nth-child(2) {
        grid-row: 2/3;
    }

    .grid {
        display: grid;
        grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
        grid-auto-rows: minmax(250px, 1fr);
    }

    .info {
        margin: 20px;
        /* padding: 20px; */
    }
}

@media only screen and (min-width: 1200px) {
    .info {
        margin: 80px;
        /* padding: 80px; */
    }
}