html, body {
    margin: 0;
    width: 100vw;
    overflow-y: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
}

.background-2020 {
    background: url("./assets/2019/image (5).jpg") no-repeat center;
    background-size: cover;
    background-origin: content-box;
}

.info {
    width: 300px;
    /* height: 300px; */
    /* background-color: white; */
    padding: 20px;
    margin: 50px;
}

.navbar {
    z-index: 10;
    width: 100%;
    padding: 10px 20px 30px 20px;
    color: white;
    font-weight: 400;
    font-size: 1.5em;
    /* background-color: rgba(0, 0,0, 0.3); */
    background-image: linear-gradient(rgba(0, 0,0, 0.5), rgba(0, 0,0, 0.0));
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.donate {
    /* background: green; */
    padding: 10px;
    /* border-radius: 5px; */
    font-size: 0.7em;
    font-weight: 600;
}

.label {
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 2em;
    line-height: 1.5em;
}

.background-2019 {
    background-image: url("./assets/2019/image (2).jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.background-2018 {
    background-image: url("./assets/2018/48418856_10209625332509086_685528281394446336_n.jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.background-2017 {
    background-image: url("./assets/2019/image (5).jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.background-2016 {
    background-image: url("./assets/2019/image (5).jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.title {
    position: relative;
    font-size: 2em;
    color: white;
    background-color: rgba(0,0,0,0.9);
    top: 20px;
    left: 20px;
    padding: 0px 10px 0px 10px;
    line-height: 1em;
}

.carousel-indicators > li {
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

/* For width 500px and larger: */
@media only screen and (min-width: 500px){
    .carousel-item{
        overflow:hidden;
        height: 600px;
    }
}

.carousel-inner > .item > img {
    width:640px;
    height:360px;
  }


.black-overlay{
    position: absolute; 
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0,0, 0.4);
}
