html, body {
    margin: 0;
    min-width: 340px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.page {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}

.background-2020 {
    background: url("./assets/2019/image (5).jpg") no-repeat center;
    background-size: cover;
    background-origin: content-box;
}

.info {
    width: 300px;
    
    /* background-color: white; */
    padding: 20px;
    margin: 20px 20px 20px 20px;
}



@keyframes delay-show {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

.gfm-container {
    /* transition: all 1s steps(1); */
    /* opacity: 0; */
    /* opacity: 1; */
    /* display: none; */

    height: 200px;
    overflow-y: hidden;
    animation: delay-show 1.5s steps(1);
}

.navbar {
    color: white;
    font-weight: 300;
    font-size: 1.5em;
    background-color: rgba(0, 0,0, 0.4);
    /* background-image: linear-gradient(rgba(0, 0,0, 0.5), rgba(0, 0,0, 0.0)); */
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    width: 100%;
    min-width: 320px;
}

@media only screen and (max-width: 375px) {
    .navbar {
        padding: 10px;
    }
}
@media only screen and (min-width: 375px) {
    .navbar {
        padding: 10px 40px 10px 40px;
    }
}

.donate {
    /* background: green; */
    padding: 10px;
    /* border-radius: 5px; */
    font-size: 0.7em;
    font-weight: 600;
}

.label {
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 2em;
    line-height: 1.5em;
}

.background-2019 {
    background-image: url("./assets/2019/image (2).jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.background-2018 {
    background-image: url("./assets/2018/48418856_10209625332509086_685528281394446336_n.jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.background-2017 {
    background-image: url("./assets/2019/image (5).jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.background-2016 {
    background-image: url("./assets/2019/image (5).jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.title {
    position: relative;
    font-size: 2em;
    color: white;
    background-color: rgba(0,0,0,0.9);
    top: 20px;
    left: 20px;
    padding: 0px 10px 0px 10px;
    line-height: 1em;
}

